<div id="content" class="has-right-bar">
    <% if flash[:alert] %>
        <div class="alert">
            <%= flash[:alert] %>
        </div>
    <% end %>
    
    <%= f.text_area :content, :id => 'page-content', :autocomplete=>"off", :class => "redactor" %>

</div>