<div id="left-bar">
    <div class="header">
        <%= Settings.flags.plural %>
    </div>

    <div class="new">
        <%= link_to "New #{Settings.flags.singular} »", new_flag_path %>
    </div>
    
    <% @flags.each do |flag| %>
        <div class="item"><%= link_to flag.name, edit_flag_path(flag) %></div>
    <% end %>
</div>