<div id="left-bar">
    <div class="new">
        <%= link_to "New #{Settings.flags.name} »", new_flag_path %>
    </div>
    
    <% if @flags.count > 0 %>
        <div class="header">
            Recent <%= Settings.flags.name.pluralize %>:
        </div>

        <% @flags.each do |flag| %>
            <div class="item"><%= link_to flag.name, edit_flag_path(flag) %></div>
        <% end %>
    <% end %>
</div>