<% if @preview %>
  <script>
    window.onload = function() {
        parent.listPreviewLoaded();
    }
  </script>
<% end %>



        <div id="fb-root"></div>
        <div class="adblock-top">
    <div class="adblock-top-wrap"></div>
</div>
<header class="hd">
    <div class="headerwrap">
        <h1 class="logo"><a href="/">HIGH TIMES</a></h1>

        <form method="get" action="/search">
            <input type="text" name="search" data-o-value="Search HIGH TIMES" value="Search HIGH TIMES">
            <input type="submit" value="search">
        </form>

    </div>

    <nav id="navigation">
        <div class="navwrap"><a class="navlogo" href="/"></a>
            <ul class="site">
                <li class="nav-news">
                    <a href="/news">News<b class="drop"></b></a>
                                            <ul>
                                                                                                <li class="featured">
                                        <a href="/read/new-york-assembly-passes-medical-bill">
                                                                                            <img src="http://assets.hightimes.com/styles/thumbnail/s3/DSC_9891.JPG" width="244" height="163" alt="New York Assembly Passes Medical Bill" />
                                                                                        <p>New York Assembly Passes Medical Bill</p>
                                        </a>
                                    </li>
                                                                                                                                <li><a href="/read/state-governments-take-legalization">State Governments Take On Legalization</a></li>
                                                                                                                                <li><a href="/read/nyc-mayor-calls-medical-pot-hoax">NYC Mayor Calls Medical Pot a "Hoax"</a></li>
                                                                                                                                <li><a href="/read/bending-constitution-drug-testing">Bending the Constitution for Drug Testing</a></li>
                                                                                                                                <li><a href="/read/ex-microsoft-manager-jumps-marijuana">Ex-Microsoft Manager Jumps Into Marijuana</a></li>
                                                                                        <li class="see-all"><a href="/news">See all News</a></li>
                        </ul>
                                    </li>
                <li class="nav-entertainment">
                    <a href="/entertainment">Entertainment<b class="drop"></b></a>
                                            <ul>
                                                                                                <li class="featured">
                                        <a href="/read/american-drug-war-2">
                                                                                            <img src="http://assets.hightimes.com/styles/thumbnail/s3/314216_273165606136032_559704403_n_0.jpg" width="244" height="163" alt="American Drug War 2" />
                                                                                        <p>American Drug War 2</p>
                                        </a>
                                    </li>
                                                                                                                                <li><a href="/read/naked-people-trees">Naked People in Trees!</a></li>
                                                                                                                                <li><a href="/view/stoned-movies">Stoned at the Movies</a></li>
                                                                                                                                <li><a href="/read/high-times-interview-roseanne-barr">The HIGH TIMES Interview: Roseanne Barr</a></li>
                                                                                                                                <li><a href="/read/iron-and-wine-beacon-theatre-nyc">Iron and Wine at the Beacon Theatre, NYC</a></li>
                                                                                        <li class="see-all"><a href="/entertainment">See all Entertainment</a></li>
                        </ul>
                                    </li>
                <li class="nav-video">
                    <a href="/video">Video<b class="drop"></b></a>
                                            <ul>
                                                                                                <li class="featured">
                                        <a href="/watch/bay-area-medical-cannabis-cup-2013-official-promo">
                                                                                            <img src="http://img.youtube.com/vi/4DcJBIxEDdo/0.jpg" width="244" height="163" alt="Bay Area Medical Cannabis Cup 2013 Official Promo" />
                                                                                        <p>Bay Area Medical Cannabis Cup 2013 Official Promo</p>
                                        </a>
                                    </li>
                                                                                                                                <li><a href="/watch/catch-motherboards-coverage-recent-high-times-us-cannabis-cup-denver">Catch Motherboard's coverage of the recent HIGH TIMES U.S. Cannabis Cup in Denver</a></li>
                                                                                                                                <li><a href="/watch/grow-tip-reduce-reuse-recycle">Grow Tip: Reduce, Reuse, Recycle</a></li>
                                                                                                                                <li><a href="/watch/tony-clifton-accepts-high-times-doobie-award">Tony Clifton Accepts HIGH TIMES Doobie Award</a></li>
                                                                                                                                <li><a href="/watch/dabs-july-2013-issue-preview">Dabs!: July 2013 Issue Preview</a></li>
                                                                                        <li class="see-all"><a href="/video">See all Videos</a></li>
                        </ul>
                                    </li>
                <li class="nav-galleries">
                    <a href="/galleries">Galleries<b class="drop"></b></a>
                                            <ul>
                                                                                                <li class="featured">
                                        <a href="/view/miss-high-times-2013-yvette-gallery">
                                                                                            <img src="http://assets.hightimes.com/styles/thumbnail/s3/yvette-main.jpg" width="244" height="163" alt="Miss High Times 2013: Yvette Gallery" />
                                                                                        <p>Miss High Times 2013: Yvette Gallery</p>
                                        </a>
                                    </li>
                                                                                                                                <li><a href="/view/pix-crop-060413">PIX OF THE CROP: 06.04.13</a></li>
                                                                                                                                <li><a href="/view/concentrate-entries-denver-us-cup">Concentrate Entries: Denver US Cup</a></li>
                                                                                                                                <li><a href="/view/non-solvent-hash-entries-denver-us-cup">Non-Solvent Hash Entries - Denver US Cup</a></li>
                                                                                                                                <li><a href="/view/pix-crop-051413">Pix of the Crop: 05.14.13</a></li>
                                                                                        <li class="see-all"><a href="/galleries">See all Galleries</a></li>
                        </ul>
                                    </li>
                <li class="nav-grow">
                    <a href="/grow">Grow<b class="drop"></b></a>
                                            <ul>
                                                                                                <li class="featured">
                                        <a href="/read/free-weed-episode-38">
                                                                                            <img src="http://assets.hightimes.com/styles/thumbnail/s3/FreeWeedLogo_30.jpg" width="244" height="163" alt="Free Weed: Episode 38" />
                                                                                        <p>Free Weed: Episode 38</p>
                                        </a>
                                    </li>
                                                                                                                                <li><a href="/view/strongest-strains-2013">The Strongest Strains on Earth 2013</a></li>
                                                                                                                                <li><a href="/read/spring-pot-planting-guide">Spring Pot Planting Guide</a></li>
                                                                                                                                <li><a href="/read/free-weed-episode-37">Free Weed: Episode 37</a></li>
                                                                                                                                <li><a href="/watch/large-scale-growing">Large-Scale Growing</a></li>
                                                                                        <li class="see-all"><a href="/grow">See all Grow</a></li>
                        </ul>
                                    </li>
                <li class="nav-101">
                    <a href="/101">101</a>
                                            <ul>
                                                                                                <li class="featured">
                                        <a href="/read/high-times-space">
                                                                                            <img src="http://assets.hightimes.com/styles/thumbnail/s3/spaceweed.jpg" width="244" height="163" alt="HIGH TIMES in Space" />
                                                                                        <p>HIGH TIMES in Space</p>
                                        </a>
                                    </li>
                                                                                                                                <li><a href="/read/greenboy-pot-parady-dragnet">Greenboy: A Pot Parady of Dragnet</a></li>
                                                                                                                                <li><a href="/view/highest-highs-world">Highest Highs in the World</a></li>
                                                                                                                                <li><a href="/read/stoner-sex-hyapatia-lee-0">Stoner Sex with Hyapatia Lee</a></li>
                                                                                                                                <li><a href="/read/edibles-recipe-sweet-and-tangy-bar-b-cannabis-sauce">Edibles Recipe: Sweet and Tangy Bar-B-Cannabis Sauce</a></li>
                                                                                        <li class="see-all"><a href="/101">See all 101</a></li>
                        </ul>
                                    </li>
                <li class="nav-subscribe">
                    <a href="https://ssl.palmcoastd.com/pcd/apps/index.cfm?iMagId=19701&iKey=I**DNW&iXz=9580824612385AD0598B16D65D0AAD0F" target="_blank">Subscribe</a>
                                            <ul>
                            <li>
                                <a href="https://ssl.palmcoastd.com/19701/apps/-160006?iKey=I**DNW&" target="_blank"><img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/thumbnail_issue/s3/HT-cover-jul13.jpeg" width="156" height="209" /></a>
                                <a href="https://ssl.palmcoastd.com/19701/apps/-160006?iKey=I**DNW&" target="_blank">Print Edition</a>
                            </li>
                            <li><a href="http://www.zinio.com/www/browse/product.jsp?offercode=PH01&productId=286648858&pss=1bd=1&pss=1&WT.mc_id=PUB_COM_BUY_GLOBAL_043013_HighTimes_Publisher">Digital Edition</a></li>
                            <li><a href="http://www.zinio.com/www/browse/back-issues.jsp?productId=286648858&pss=1&pss=1bd=1&pss=1&WT.mc_id=PUB_COM_BUY_GLOBAL_043013_HighTimes_Publisher">Back Issues</a></li>
                        </ul>
                                    </li>
            </ul>
            <ul class="social">
                <li class="nav-rss"><a href="http://feeds.feedburner.com/HIGHTIMESMagazine" target="_blank">RSS</a></li>
                <li class="nav-youtube"><a href="http://www.youtube.com/HIGHTIMESPresents" target="_blank">YouTube</a></li>
                <li class="nav-twitter"><a href="http://twitter.com/HIGH_TIMES_Mag" target="_blank">Twitter</a></li>
                <li class="nav-facebook"><a href="http://www.facebook.com/pages/High-Times-Magazine/23237898444?ref=ts" target="_blank">Facebook</a></li>
            </ul>
        </div>
    </nav>
</header><div class="bd">
  <div class="main">
  <h2 class="title valign-baseline xl">News</h2>
        
                                      <div class="video-feature">
                                              <a href="/read/los-angeles-dispensaries-slashed-prop-d"><img class="hero" src="http://assets.hightimes.com/styles/large/s3/la-prop-d-article.jpg" width="640" height="400" /></a>
                    
                      <h3 class="headline"><a href="/read/los-angeles-dispensaries-slashed-prop-d">Los Angeles Dispensaries Slashed by Prop D</a></h3>

                                          <div class="byline">Wed May 22, 2013</div>
                      <p class="description">

  	The voters of Los Angeles have spoken -- and it&#39;s going to get a lot more crowded in dispensaries. With the passage of new measures, a mere 135 dispensaries will now face the task of serving 100,000 patients.

  </p>
                      <ul class="bd-social page-left">
      <li class="bd-facebook"><span class="st_facebook_custom" st_url="//www.hightimes.com/read/los-angeles-dispensaries-slashed-prop-d" st_title="Los Angeles Dispensaries Slashed by Prop D" displayText="Facebook"></span></li>
      <li class="bd-twitter"><span class="st_twitter_custom" st_url="//www.hightimes.com/read/los-angeles-dispensaries-slashed-prop-d" st_title="Los Angeles Dispensaries Slashed by Prop D" displayText="Tweet"></span></li>
      <li class="bd-tumblr"><span class="st_tumblr_custom" st_url="//www.hightimes.com/read/los-angeles-dispensaries-slashed-prop-d" st_title="Los Angeles Dispensaries Slashed by Prop D" displayText="Tumblr"></span></li>
      <li class="bd-google"><span class="st_googleplus_custom" st_url="//www.hightimes.com/read/los-angeles-dispensaries-slashed-prop-d" st_title="Los Angeles Dispensaries Slashed by Prop D" displayText="Google +1"></span></li>
      <li class="bd-rss"><a href="http://feeds.feedburner.com/HIGHTIMESMagazine" target="_blank">RSS</a></li>
  </ul>                </div> <!-- .video-feature -->
                                                  <div class="summary even">
                      <div class="image-wrapper">
                          <a href="/read/uncle-sam-flunks-out">
                              <div class="article-type">Text</div>
                                                              <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/thumbnail/s3/school-drugs-article.jpg" width="250" height="167" />
                                                      </a>
                      </div>
                      <h3 class="headline"><a href="/read/uncle-sam-flunks-out">Uncle Sam Flunks Out</a></h3>
                      <div class="byline">Wed May 22, 2013</div>
                      <p class="description">

  	For decades, the US government has invested in anti-drug programs that target school-age children. And they&#39;ve proven to be an epic failure.

  </p>
                  </div>
                                                  <div class="summary odd">
                      <div class="image-wrapper">
                          <a href="/read/la’s-medical-pot-ballot-measures">
                              <div class="article-type">Text</div>
                                                              <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://high-times-assets.s3.amazonaws.com/static/placeholder.jpg" width="250" height="167" />
                                                      </a>
                      </div>
                      <h3 class="headline"><a href="/read/la’s-medical-pot-ballot-measures">LA’s Medical Pot Ballot Measures</a></h3>
                      <div class="byline">Tue May 21, 2013</div>
                      <p class="description">

  	&nbsp;



  	Tuesday, May 21, Los Angeles voters will determine the fate and future of medical marijuana dispensaries in America&#39;s second-largest city. The LA City Council&rsquo;s struggles to regulate dispensaries have been well documented. But today, LA voters will ta...</p>
                  </div>
                                                  <div class="summary even">
                      <div class="image-wrapper">
                          <a href="/read/boston-bombing-suspects-tied-unsolved-marijuana-murders">
                              <div class="article-type">Text</div>
                                                              <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/thumbnail/s3/erik-weissman-article-2.jpg" width="250" height="167" />
                                                      </a>
                      </div>
                      <h3 class="headline"><a href="/read/boston-bombing-suspects-tied-unsolved-marijuana-murders">Boston Bombing Suspects Tied to Unsolved Marijuana Murders</a></h3>
                      <div class="byline">Wed May 15, 2013</div>
                      <p class="description">

  	Given an avalanche of interconnected information, the dots are practically begging to be connected on the murder case of three young men in 2011.

  </p>
                  </div>
                                                  <div class="summary odd">
                      <div class="image-wrapper">
                          <a href="/read/pot-busts-down-new-york">
                              <div class="article-type">Text</div>
                                                              <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://high-times-assets.s3.amazonaws.com/static/placeholder.jpg" width="250" height="167" />
                                                      </a>
                      </div>
                      <h3 class="headline"><a href="/read/pot-busts-down-new-york">Pot Busts Down in New York</a></h3>
                      <div class="byline">Tue May 14, 2013</div>
                      <p class="description">

  	As drug arrests and marijuana busts decline in New York, residents are looking forward to the day pot is legal in the Empire State.





  	&nbsp;



  	In January, Governor Andrew Cuomo said that his top priorities in 2013 would include the decriminalization of marijuana pos...</p>
                  </div>
                              <h2 class="element-invisible">Pages</h2><div class="item-list"><ul class="pager"><li class="pager-first first"><a title="Go to first page" href="/news">« first</a></li>
  <li class="pager-previous"><a title="Go to previous page" href="/news?page=2">‹ previous</a></li>
  <li class="pager-item"><a title="Go to page 1" href="/news">1</a></li>
  <li class="pager-item"><a title="Go to page 2" href="/news?page=1">2</a></li>
  <li class="pager-item"><a title="Go to page 3" href="/news?page=2">3</a></li>
  <li class="pager-current">4</li>
  <li class="pager-item"><a title="Go to page 5" href="/news?page=4">5</a></li>
  <li class="pager-item"><a title="Go to page 6" href="/news?page=5">6</a></li>
  <li class="pager-item"><a title="Go to page 7" href="/news?page=6">7</a></li>
  <li class="pager-item"><a title="Go to page 8" href="/news?page=7">8</a></li>
  <li class="pager-item"><a title="Go to page 9" href="/news?page=8">9</a></li>
  <li class="pager-ellipsis">…</li>
  <li class="pager-next"><a title="Go to next page" href="/news?page=4">next ›</a></li>
  <li class="pager-last last"><a title="Go to last page" href="/news?page=17">last »</a></li>
  </ul></div>    </div>  <!-- .main -->

      <div class="sidebar">
                  <div class="newsletter">
      <div class="inner">
          <p>Get the High Times newsletter in your inbox</p>
          <form action="http://hightimes.us1.list-manage.com/subscribe/post?u=65d60aa4711f4fe48fab3782a&amp;id=6de7137d23" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
              <input type="email" name="EMAIL" class="validate email" required="required" data-o-value="Enter your email..." value="Enter your email...">
              <input class="submit" type="submit" value="Sign Up">
          </form>
      </div>
  </div>        <script>
              SPONSORED_LINKS = [{"title":"Across International Vacuum Drying Ovens","href":"http:\/\/acrossinternational.com\/Vacuum-Drying-Ovens_c18.htm"},{"title":"Grow Box of the Year!","href":"http:\/\/www.actechwi.com\/Default.asp"},{"title":"Grow Your Own!","href":"http:\/\/www.bcnorthernlights.com\/?adid=2"},{"title":"Hydroponics Systems","href":"http:\/\/bcnorthernlights.com\/?adid=4"},{"title":"Indoor Growing","href":"http:\/\/bcnorthernlights.com\/?adid=1"},{"title":"Magic Shroom Spores - Legal In The USA!","href":"http:\/\/bestspores.com"},{"title":"Grow Weed - Get Paid","href":"http:\/\/www.cannabistraininguniversity.com\/index.php\/hightimes-ctu-promo"},{"title":"Hydroponics Growing Systems","href":"http:\/\/www.dealzer.com\/servlet\/StoreFront"},{"title":"Discount Hydroponics","href":"http:\/\/www.discount-hydro.com\/"},{"title":"Cheat Your Drug Test","href":"http:\/\/www.drugtestcheats.com"},{"title":"Mushroom Kits","href":"http:\/\/www.homesteadbook.com\/mushroomkit"},{"title":"420.com","href":"http:\/\/420.com"},{"title":"Cannabis Cup","href":"http:\/\/www.cannabiscup.com"},{"title":"Grow Pounds Easy","href":"http:\/\/www.HydroponicsGroup.com"},{"title":"Buds By The Pound","href":"http:\/\/www.internationaloddities.com\/ez-order-at-international-oddities.asp?utm_source=google&utm_medium=textlink&utm_campaign=budsbythepound"},{"title":"Real Legal Bud","href":"http:\/\/www.internationaloddities.com\/index.asp?utm_source=google&utm_medium=textlink&utm_campaign=reallegalbud"},{"title":"Top Vaporizers & Volcano","href":"http:\/\/www.internationaloddities.com\/vaporizer.html?utm_source=google&utm_medium=textlink&utm_campaign=topvaporizers"},{"title":"Wholesale Bud","href":"http:\/\/www.internationaloddities.com\/wholesale.asp?utm_source=google&utm_medium=textlink&utm_campaign=wholesalebud"},{"title":"Best Blueberry Bud","href":"http:\/\/www.internationaloddities.com\/legal-bud_blueberry_bud.html?utm_source=google&utm_medium=textlink&utm_campaign=bestblueberrybud"},{"title":"Buy Krypto, Dro, Skunk Bud","href":"http:\/\/www.internationaloddities.com\/index.asp?utm_source=google&utm_medium=textlink&utm_campaign=barelylegalbuds"},{"title":"Free Legal Buds","href":"http:\/\/www.internationaloddities.com\/can_of_bud_special.html?utm_source=google&utm_medium=textlink&utm_campaign=freelegalbuds"},{"title":"Get High Grade Bud!","href":"http:\/\/www.internationaloddities.com\/smokenow.asp?af=admin&bn=74"},{"title":"LEGAL BUD REAL","href":"http:\/\/www.internationaloddities.com\/legal-bud.asp?utm_source=google&utm_medium=textlink&utm_campaign=legalbudreal"},{"title":"Legal Bud Save 75%","href":"http:\/\/www.internationaloddities.com\/index.asp?utm_source=google&utm_medium=textlink&utm_campaign=legalbudsave75"},{"title":"Legal Bud Specials","href":"http:\/\/www.internationaloddities.com\/legal-buds-specials.asp?utm_source=google&utm_medium=textlink&utm_campaign=legalbudspecials"},{"title":"Legal Buds and Legal Bud","href":"http:\/\/www.internationaloddities.com\/index.asp?utm_source=google&utm_medium=textlink&utm_campaign=legalbudlegalbuds"},{"title":"Free I-Tal Hemp Wick","href":"http:\/\/italhempwick.com\/free-sample\/"},{"title":"Hawaiian Haze BUD","href":"http:\/\/www.legalbuds.com\/legal_bud.html"},{"title":"Dutch Haze BUD","href":"http:\/\/www.legalbuds.com\/legal_bud.html"},{"title":"Orange Crush Buds","href":"http:\/\/www.legalbuds.com\/legal_bud.html"},{"title":"Bubble Gum Kush","href":"http:\/\/www.legalbud.com\/legalbud_bubble-gum.html"},{"title":"Blueberry BUD","href":"http:\/\/www.legalbuds.com\/legal_bud.html"},{"title":"Jamaican Gold Bud","href":"http:\/\/www.legalbuds.com\/legal_bud.html"},{"title":"Make Amazing Weed Butter","href":"http:\/\/magicalbutter.com"},{"title":"Buy 5-IAI, UR-144, Kratom, More!","href":"http:\/\/www.mdairesearch.com"},{"title":"Medical Marijuana Seeds","href":"http:\/\/medicinalmarijuanaseedssales.co.uk\/"},{"title":"Unbelievably LEGAL Chemicals!","href":"http:\/\/organichomeandgardenshop.com\/folders\/experimental-soil-additives"},{"title":"Passing Drug Tests Made Easy","href":"http:\/\/passthetest.com\/"},{"title":"All in 1 Hydro Systems","href":"http:\/\/www.supercloset.com"},{"title":"Hydroponic Award Winners","href":"http:\/\/www.supercloset.com"},{"title":"Indoor Hydro Superclosets","href":"http:\/\/www.supercloset.com\/"},{"title":"Single Seeds","href":"http:\/\/www.worldwide-marijuana-seeds.com\/?utm_source=HighTimes&utm_medium=Sponsored_Link2&utm_campaign=HighTimesmail@niceynice.co.uk"}];
                  SEED_CENTER_LINKS = [{"title":"BC Bud Depot","href":"https:\/\/www.bcbuddepot.com\/"},{"title":"12 Cannabis Seeds Only $19 \u00a310 \u20ac12","href":"http:\/\/www.cannabisseeds.com\/index002.htm"},{"title":"Weed Seeds","href":"http:\/\/www.castle-marijuana-seeds.com\/?utm_source=HighTimes&utm_campaign=HighTimes&utm_medium=360x90_Sponsored_Link"},{"title":"Ontario Seed Bank","href":"http:\/\/ontarioseedbank.ca"},{"title":"Cannabis Seeds Promotions","href":"http:\/\/www.seedsman.com\/en\/cannabis-seeds?utm_source=hightimes.com&utm_medium=link-sc&utm_campaign=High%2BTimes%2BLink-BMS"},{"title":"Marijuana Seeds","href":"http:\/\/www.worldwide-marijuana-seeds.com\/?utm_source=HighTimes&utm_medium=Sponsored_Link&utm_campaign=HighTimes"},{"title":"Bulk Cannabis Seeds","href":"http:\/\/www.gorilla-cannabis-seeds.co.uk"}];
      </script>

  <div id="sponsored-links" class="sponsored-links">
      <div class="sponsored-type">Sponsored Links</div>
      <div class="links-wrap"></div>
      <div class="clb"></div>
  </div>
  <div id="seed-center" class="sponsored-links">
      <div class="sponsored-type">Seed Center</div>
      <div class="links-wrap"></div>
      <div class="clb"></div>
  </div>
  <div id="sponsored-headshop" class="sponsored-headshop"></div>
<div class="digital-edition">
      <a target="_blank" href="http://www.zinio.com/checkout/publisher/?productId=286648858&offer=289777186&bd=1&pss=1&WT.mc_id=PUB_COM_BUY_GLOBAL_043013_HighTimes_Publisher">
          <img src="http://assets.hightimes.com/static/digital-edition-junl13-ad.png" alt="Get the High Times Digital Edition">
      </a>
  </div>        <div class="fb-info">
      <div class="fb-recommendations" data-site="http://www.hightimes.com" data-app-id="504384432953143" data-width="300" data-height="300" data-header="true"></div>
  </div>        <div class="gallery">
      <div class="article-type">Gallery</div>
      <a href="/view/13-most-controversial-pipes">
                      <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/thumbnail/s3/051013_opener.JPG" width="300" height="200" />
                  <p>The 13 Most Controversial Pipes</p>
      </a>
  </div>
         <div class="sb-whats-smokin">
      <h3 class="smokin valign-baseline">What's Smokin'</h3>
      <div class="sb-related">
                      <a href="/read/adderall-americas-favorite-amphetamine">
                                      <img src="http://assets.hightimes.com/styles/thumbnail/s3/adderall-love-article.jpg" width="300" height="200" />
                                  <span class="o"></span>
                  <h3 class="overlay">Adderall: America's Favorite Amphetamine</h3>
                  <div class="byline">Thu May 9, 2013</div>
              </a>
                      <a href="/read/grandmaster-fresh-story-hitman-glass">
                                      <img src="http://assets.hightimes.com/styles/thumbnail/s3/hitman-feature-article-main.jpg" width="300" height="200" />
                                  <span class="o"></span>
                  <h3 class="overlay">Grandmaster Fresh: The Story of Hitman Glass</h3>
                  <div class="byline">Wed May 15, 2013</div>
              </a>
                      <a href="/read/high-times-vaporizer-pen-buyers-guide">
                                      <img src="http://assets.hightimes.com/styles/thumbnail/s3/22_032713pens_int_0.jpg" width="300" height="200" />
                                  <span class="o"></span>
                  <h3 class="overlay">The HIGH TIMES Vaporizer Pen Buyer's Guide</h3>
                  <div class="byline">Wed Mar 27, 2013</div>
              </a>
                      <a href="/read/dab-or-not-dab">
                                      <img src="http://assets.hightimes.com/styles/thumbnail/s3/dab-article-main_0.jpg" width="300" height="200" />
                                  <span class="o"></span>
                  <h3 class="overlay">To Dab Or Not To Dab?</h3>
                  <div class="byline">Tue Oct 2, 2012</div>
              </a>
              </div>
  </div>
      </div>  <!-- .sidebar -->

      <div class="clb"></div>
  </div>  <!-- .bd -->
  <div class="adblock-bottom adblock-bottom-button-ads">
      <div class="sponsored-links-footer">
      p class="title">High Times Presents</p>
      <ul>
                                                      <li>
                      <a href="http://legacy.hightimes.com/microsites/medical/information.inc.php" target="_blank">
                          <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/high_times_presents/s3/medical-directory-icon.png" alt="Medical Marijuana Directory " width="65" height="65">
                          <p class="title">Medical Marijuana Directory </p>
                          <div class="description"><p>

  	Use our medical marijuana directory to find dispensaries and medicine in your area.</p>

  </div>
                      </a>
                  </li>
                                                                  <li>
                      <a href="http://legacy.hightimes.com/microsites/beginners/information.inc.php" target="_blank">
                          <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/high_times_presents/s3/danny-danko.jpg" alt="Danny Danko's Get Growing Guide " width="65" height="65">
                          <p class="title">Danny Danko's Get Growing Guide </p>
                          <div class="description"><p>

  	Our senior cultivation editor shares his favorite articles in our ultimate beginner&#39;s guide.</p>

  </div>
                      </a>
                  </li>
                                                                  <li>
                      <a href="http://legacy.hightimes.com/microsites/legal/information.inc.php" target="_blank">
                          <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/high_times_presents/s3/high-times-legal-directory.jpg" alt="Legal Directory" width="65" height="65">
                          <p class="title">Legal Directory</p>
                          <div class="description"><p>

  	Sometimes the difference between freedom and incarceration is simply knowing your rights.</p>

  </div>
                      </a>
                  </li>
                                                                      </ul><ul>
                                  <li>
                      <a href="http://legacy.hightimes.com/microsites/drugtest/information.inc.php" target="_blank">
                          <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/high_times_presents/s3/drug-test-info-center.jpg" alt="Drug Test Info Center " width="65" height="65">
                          <p class="title">Drug Test Info Center </p>
                          <div class="description"><p>

  	The most comprehensive and current guide to drug testing available is just a click away.</p>

  </div>
                      </a>
                  </li>
                                                                  <li>
                      <a href="http://legacy.hightimes.com/microsites/seedbank" target="_blank">
                          <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/high_times_presents/s3/seed-bank-hall-of-fame.jpg" alt="Seed Bank Hall of Fame " width="65" height="65">
                          <p class="title">Seed Bank Hall of Fame </p>
                          <div class="description"><p>

  	Commemorating the pot pioneers that make it possible for us to enjoy today&#39;s quality strains.</p>

  </div>
                      </a>
                  </li>
                                                                  <li>
                      <a href="http://legacy.hightimes.com/microsites/handbook/information.inc.php" target="_blank">
                          <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/high_times_presents/s3/pot-smokers-handbook.jpg" alt="Pot Smoker's Handbook" width="65" height="65">
                          <p class="title">Pot Smoker's Handbook</p>
                          <div class="description"><p>

  	The definitive guide to marijuana from the world&#39;s most trusted name when it comes to getting high.</p>

  </div>
                      </a>
                  </li>
                          </ul>
      <div class="clb"></div>
  </div><footer class="ft">
      <div class="ft-wrapper">
          <div class="col">
              <div class="logo"><a class="logo-sm" href="/">Logo-Sm</a></div>
              <form method="get" action="/search">
                  <input type="text" name="search" data-o-value="Search HIGH TIMES" value="Search HIGH TIMES">
                  <input type="submit" value="search">
              </form>
          </div>

          <div class="col events">
              <ul>
                  <li><strong>Events</strong></li>
                  <li><a href="http://www.cannabiscup.com" target="_new">The Cannabis Cup &reg;</a></li>
                  <li><a href="http://www.medcancup.com" target="_new">The Medical Cannabis Cup &reg;</a></li>
                  <li><a href="http://www.facebook.com/doobieawards" rel="nofollow" target="_new">The Doobie Awards &reg;</a></li>
              </ul>
              <ul>
                  <li><strong><a href="http://misshightimes.com" rel="nofollow" target="_new">Miss High Times</a></strong></li>
                  <li><a href="http://misshightimes.com/hot/rate/missht" rel="nofollow" target="_new">Rate</a></li>
                  <li><a href="http://misshightimes.com/hot/register" rel="nofollow" target="_new">Create a Profile</a></li>
              </ul>

          </div>

          <div class="col headshop">
              <ul>
                  <li><strong><a href="http://headshop.hightimes.com" target="_new">HEADSHOP</a></strong></li>
                  <li><a href="http://headshop.hightimes.com/dvd.html" target="_new">DVDs</a></li>
                  <li><a href="http://headshop.hightimes.com/clothing.html" target="_new">Clothing</a></li>
                  <li><a href="http://headshop.hightimes.com/magazines.html" target="_new">Back Issues</a></li>
                  <li><a href="http://headshop.hightimes.com/books.html" target="_new">Books</a></li>
                  <li><a href="http://headshop.hightimes.com/fun-stuff.html" target="_new">Fun Stuff</a></li>
              </ul>
          </div>

          <div class="col">
              <ul>
                  <li><strong><a href="/contribution-guidelines">Submissions</a></strong></li>
                  <li><a href="mailto:hteditor@hightimes.com">Letters to the Editor</a></li>
                  <li><a href="mailto:mailbag@hightimes.com">Pix of the Crop</a></li>
                  <li><a href="mailto:pot40@hightimes.com">Pot 40</a></li>
                  <li><a href="mailto:thmq@hightimes.com">THMQ</a></li>
                  <li><a href="mailto:edit.grow@hightimes.com">Grow Questions</a></li>
                  <li><a href="mailto:hteditor@hightimes.com">General Inquiries</a></li>
              </ul>
          </div>

          <div class="col">
              <ul>
                  <li><strong><a href="http://legacy.hightimes.com/classifieds/home">CLASSIFIEDS</a></strong></li>
              </ul>
              <ul>
                  <li><strong>PODCASTS</strong></li>
                  <li><a href="http://legacy.hightimes.com/freeweed">Free Weed from Danny Danko</a></li>
                  <li><a href="http://legacy.hightimes.com/thestash">Jen's Music Stash</a></li>
                  <li><a href="http://legacy.hightimes.com/newshit">HIGH TIMES News Hit</a></li>
              </ul>
          </div>

                      <div class="subscribe">
                  <a href="https://ssl.palmcoastd.com/pcd/apps/index.cfm?iMagId=19701&iKey=I**DNW&iXz=9580824612385AD0598B16D65D0AAD0F" target="_blank">
                      <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/thumbnail_issue/s3/HT-cover-jul13.jpeg" width="156" height="209" />
                  </a>
              </div>
              </div>

      <div class="nav-wrapper">
          <nav>
              <ul class="social">
                  <li class="nav-facebook"><a href="http://www.facebook.com/pages/High-Times-Magazine/23237898444?ref=ts" target="_blank">Facebook</a></li>
                  <li class="nav-twitter"><a href="http://twitter.com/HIGH_TIMES_Mag" target="_blank">Twitter</a></li>
                  <li class="nav-youtube"><a href="http://www.youtube.com/HIGHTIMESPresents" target="_blank">YouTube</a></li>
                  <li class="nav-rss"><a href="http://feeds.feedburner.com/HIGHTIMESMagazine" target="_blank">RSS</a></li>
              </ul>
              <ul class="site">
                  <li class="nav-news"><a href="/news">News</a></li>
                  <li class="nav-entertainment"><a href="/entertainment">Entertainment</a></li>
                  <li class="nav-video"><a href="/video">Video</a></li>
                  <li class="nav-galleries"><a href="/galleries">Galleries</a></li>
                  <li class="nav-grow"><a href="/grow">Grow</a></li>
                  <li class="nav-101"><a href="/101">101</a></li>
                  <li class="nav-subscribe"><a href="https://ssl.palmcoastd.com/pcd/apps/index.cfm?iMagId=19701&iKey=I**DNW&iXz=9580824612385AD0598B16D65D0AAD0F" target="_blank">Subscribe</a></li>
              </ul>
          </nav>
      </div>

      <div class="cc-wrapper">
          <div class="copyright">
              &copy; 2013 High Times. All Rights Reserved.
              <a href="/legal">Legal Disclaimer</a>
              <a href="/privacy">Privacy Policy</a>
              <a href="/contact">Contact Us</a>
              <a href="/advertise">Advertise</a>
              <a class="site-by" href="//www.asheavenue.com" target="_new">Site by Ashe Avenue</a>
          </div>
      </div>

  </footer>
  <footer class="ft-mobile">
              <div class="subscribe">
              <h3 class="valign-middle">Subscribe</h3>
              <a href="https://ssl.palmcoastd.com/pcd/apps/index.cfm?iMagId=19701&iKey=I**DNW&iXz=9580824612385AD0598B16D65D0AAD0F" target="_blank">
                  <img class="ll" src="http://assets.hightimes.com/loading.gif" data-original="http://assets.hightimes.com/styles/thumbnail_issue/s3/HT-cover-jul13.jpeg" width="156" height="209" />
              </a>
          </div>
    
      <div class="logo"><a class="logo-sm" href="/">Logo-Sm</a></div>

      <div class="col-wrapper">
          <div class="col">
              <ul>
                  <li><strong><a href="/news">News</a></strong></li>
                  <li><strong><a href="/entertainment">Entertainment</a></strong></li>
                  <li><strong><a href="/video">Video</a></strong></li>
                  <li><strong><a href="/galleries">Galleries</a></strong></li>
                  <li><strong><a href="/grow">Grow</a></strong></li>
                  <li><strong><a href="/101">101</a></strong></li>
                  <li><strong><a href="https://ssl.palmcoastd.com/pcd/apps/index.cfm?iMagId=19701&iKey=I**DNW&iXz=9580824612385AD0598B16D65D0AAD0F" target="_blank">Subscribe</a></strong></li>
              </ul>
          </div>

          <div class="col">
              <ul>
                  <li><strong><a href="http://www.cannabiscup.com">Events</a></strong></li>
                  <li><strong><a href="http://misshightimes.com" target="_new">Miss High Times</a></strong></li>
                  <li><strong><a href="/tag/legalization">Politics</a></strong></li>
                  <li><strong><a href="http://www.marijuana-movies.com" target="_new">420 Movies</a></strong></li>
                  <li><strong><a href="http://headshop.hightimes.com" target="_new">Headshop</a></strong></li>
                  <li><strong> <a href="/contribution-guidelines">Submissions</a></strong></li>
                  <li><strong><a href="http://legacy.hightimes.com/classifieds/home">Classifieds</a></strong></li>
              </ul>
          </div>
      </div>

      <div class="nav-wrapper">
          <nav>
              <ul class="social">
                  <li class="nav-facebook"><a href="http://www.facebook.com/pages/High-Times-Magazine/23237898444?ref=ts" target="_blank">Facebook</a></li>
                  <li class="nav-twitter"><a href="http://twitter.com/HIGH_TIMES_Mag" target="_blank">Twitter</a></li>
                  <li class="nav-youtube"><a href="http://www.youtube.com/HIGHTIMESPresents" target="_blank">YouTube</a></li>
                  <li class="nav-rss"><a href="http://feeds.feedburner.com/HIGHTIMESMagazine" target="_blank">RSS</a></li>
              </ul>
          </nav>
      </div>

      <div class="cc-wrapper">
          <div class="copyright">
              <a href="/legal">Legal Disclaimer</a>
              <a href="/privacy">Privacy Policy</a>
              <a href="/contact">Contact Us</a>
              <a href="/advertise">Advertise</a>
              <p>&copy; 2013 High Times. All Rights Reserved.</p>
              <a class="site-by" href="//www.asheavenue.com" target="_new">Site by Ashe Avenue</a>
          </div>
      </div>
      <div class="clb"></div>
  </footer>
