/* ------ DEFAULTS ------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif !important;
}

body {
    background: #ecf0f1;
    color: #ecf0f1;
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
}

.header {
    font-size: 48px;
    line-height: 48px;
    color: #16a085;
}

.content {
    width: 300px; 
    margin: 150px auto;
}

.form {
    margin-top: 10px;
    padding: 10px 10px 15px 10px;
    background-color: #95a5a6;
    border:0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.form input[type='text'],
.form input[type='password'] {
    width: 266px;
    font-size: 18px;
    font-weight: 100;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius:5 !important;
    -moz-border-radius:5 !important;
    border-radius:5 !important;
    outline: none !important;
}

.button,
.button:hover {
  padding: 5px 15px !important;
  font-size: 18px;
  line-height: 18px;
  font-weight: 100;
  font-style: normal;
  color: white;
  vertical-align: middle;
  background-color: #bdc3c7;
  text-decoration: none !important;
  border: none;
  clear: both;
  webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.button.green {
    background: #16a085;
}
.button.green:hover {
    background: #1abc9c;
}

.actions {
    margin-top: 5px;
}

.alert {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #e74c3c;
}