<div id="left-bar">
    <div class="new">
        <%= link_to "New #{Settings.users.name} »", new_user_path %>
    </div>
    
    <% if @users.count > 0 %>
        <div class="header">
            Recent <%= Settings.users.name.pluralize %>:
        </div>

        <% @users.each do |user| %>
            <div class="item"><%= link_to (user.display_name || user.email), edit_user_path(user) %></div>
        <% end %>
    <% end %>
</div>