<div id="stage">
    
    <%= render "left_bar" %>
    
    <%= render :partial => "form", :locals => {:action => 'create'} %>
    
</div>

<%= javascript_include_tag "metaphor/metaphor/paneslide/jquery.paneslide" %>
