.article-editor header .top {
    background: #fff;
    color: #16a085;
    font-size: 24px;
    font-weight: 100;
    height: 50px;
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.article-editor #picker {
    top: 50px;
}

#article_editor {
    padding: 0 30px 50px 30px;
    width: 649px;
    height: auto;
    margin: 50px auto;
    background-color: white;
    padding-bottom: 50px;
}

#article_editor .redactor_box {
    margin-bottom: 10px;
}

#article_editor .redactor_box.preview {
    border: 0;
}

#article_editor .redactor_editor {
    min-height: 200px;
}

#article_editor .redactor_btn_add_image {
    background-position: -200px;
    background-image: url('redactortoolbar.png');
}

#article_editor .redactor_btn_add_video {
    background-position: -225px;
    background-image: url('redactortoolbar.png');
}

#article_editor .redactor_btn_add_sound {
    background-position: -650px;
    background-image: url('redactortoolbar.png');
}

#article_editor .redactor_editor p,
#article_editor .redactor_editor span,
#article_editor .redactor_editor ul,
#article_editor .redactor_editor li,
#article_editor .redactor_editor strong {
    line-height: 1.7em !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px !important;
    color: black !important;
}

#article_editor .redactor_editor strong {
    font-weight: bold;
}

#article_editor .redactor_editor li {
    list-style: inherit;
    line-height: 1.7em;
}

#article-body-toolbar {
    width: 649px;
    z-index: 1000;
}

#article-body-toolbar.preview {
    display: none;
}

#bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding: 10px 10px 10px 15px;
    background: #7f8c8d;
    z-index: 1000;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#bottom-bar .buttons {
    padding: 2px 25px;
}

#bottom-bar .article-needs-save-message {
    display: none;
    color: white;
    font-size: 21px;
    font-weight: 100;
    margin-top: 5px;
}

#article-save-confirm,
#article-dont-save,
#article-cancel {
    display: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	#article-body-toolbar li a {
        background-image: url('redactortoolbar.png');
        background-size: auto 25px;
	}

}