.article-editor header .top {
    background: #fff;
    color: #16a085;
    font-size: 24px;
    font-weight: 100;
    height: 50px;
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.article-editor #picker {
    top: 50px;
}

#article_editor {
    width: 700px;
    height: auto;
    margin: 50px auto;
    background-color: white;
    padding-bottom: 50px;
}

#bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding: 10px 10px 10px 15px;
    background: #7f8c8d;
    z-index: 30;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#bottom-bar .buttons {
    padding: 2px 25px;
}