/* ------- GALLERY EDITOR -------- */

.gallery-editor header .top {
    background: #fff;
    color: #16a085;
    font-size: 24px;
    font-weight: 100;
    height: 50px;
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#gallery_editor {
    width: 100%;
    height: auto;
    margin: 50px auto;
    padding: 10px 0px 50px 10px;
}

#gallery.gallery-stage {
    margin-bottom: 210px;
}

#gallery .image-container {
    float: left;
    padding: 0px 10px 10px 0px;
    height: 200px;
    width: 302px;
    position: relative;
}

#gallery .image-container .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 302px;
    height: 200px;
    border: 5px solid transparent;
    cursor: move;
}

#gallery .image-container .image.active {
    border: 5px solid #16a085;
}

#gallery .image-container .overlay {
    position: absolute;
    top: 163px;
    left: 5px;
    right: 5px;
    height: 42px;
    background: rgba(255, 255, 255, 1);
    z-index: 10;
    display: none;
}

#gallery .image-container .overlay .buttons {
    padding: 10px;
    color: #16a085;
    font-size: 22px;
    line-height: 22px;
    font-weight: 100;
    text-align: center;
}

#gallery .image-container .overlay .buttons a,
#gallery .image-container .overlay .buttons a:hover {
    color: #16a085;
}

#gallery-drop-bar {
    position: fixed;
    bottom: 30px;
    width: 100%;
    height: 200px;
    padding: 10px 10px 10px 15px;
    background: #95a5a6;
    z-index: 30;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#gallery-drop {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
    color: white;
}

#gallery-drop .title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    text-align: center;
    padding: 65px;
    color: white;
}

#image-info {
    padding: 50px 10px 10px;
    z-index: 10;
}

#image-info .image {
    text-align: center;
}

#image-info .info {
    padding: 5px;
}

#image-info .info .left,
#image-info .info .items,
#image-info .info .right {
    padding: 5px;
    float: left;
}

#image-info .info .left,
#image-info .info .right {
    padding-top: 45px;
}

#image-info .info .item {
    padding: 5px;
}

#image-info .buttons {
    padding: 10px 5px 5px;
}

#image-info-caption,
#image-info-credit {
    color: black;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    height: 30px;
    width: 230px;
    border:0;
    background: none;
    border-bottom: 1px solid black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    outline: none;
}

#image-info-slug {
    color: black;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    height: 30px;
    width: 445px;
    border:0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    outline: none;
}
