/* ------ DEFAULTS ------ */

html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
a {
    text-decoration: none;
}

/* ------ GLOBAL ------ */

html, body {
    background: #ecf0f1;
    color: #555;
    height: 100%;
    overflow: auto;
}

.clearfix{
    clear: both;
    overflow: hidden;
}

.button,
.button:hover {
  padding: 5px 15px !important;
  font-size: 18px;
  line-height: 18px;
  font-weight: 100;
  font-style: normal;
  color: white;
  vertical-align: middle;
  background-color: #bdc3c7;
  text-decoration: none !important;
  border: none;
  clear: both;
  webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.button.green {
    background: #16a085;
}
.button.green:hover {
    background: #1abc9c;
}

.button.yellow {
    background: #f1c40f;
}
.button.yellow:hover {
    background: #f39c12;
}

.label-success,
.badge-success {
    background: #16a085;
}
.label-success,
.badge-success {
    background: #16a085;
}


/* ------ HEADER ------ */

header .top {
    background: #fff;
    color: #16a085;
    font-size: 24px;
    font-weight: 100;
    height: 50px;
    line-height: 1;
    position: fixed;
    width: 100%;
}
header .navigation-wrapper {
    padding: 10px 30px;
}

header .navigation {
    padding: 5px 0 5px 10px;
    height: 14px;
    background: #ecf0f1;
    color: #555;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    float: right;
    margin: 5px;
}

header .navigation ul {
    margin: 0;
}

header .navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    line-height: 0;
}

header .navigation li a {
    color: #16a085;
    text-decoration: none;
}

/* ------ CONTENT ------ */

#stage {
    height: 100%;
}

.form-section-left {
    color: #95a5a6;
    float: left;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.375;
    width: 20%;
}

.form-section-right {
    float: left;
    width: 75%;
}

.form-line {
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    width: 100%;
}
.form-line .template {
    color: #95a5a6;
    font-size: 18px;
    font-weight: 400;
}
.form-line textarea {

}
.form-line a,
.form-line a:hover {
    color: white;
}
.form {
    padding-top: 20px;
}
#article-title,
#article-summary,
#article-default-image,
#article-body {
    font-weight: 100;
    height: 30px;
    width: 500px;
    border:0;
    background: none;
    border-bottom: 1px solid #95a5a6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radios:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    font-weight: 400;
    resize: none;
    width: 100%;
}

#article-title {
    font-size: 24px;
    line-height: 26px;
}

#article-summary {
    font-size: 18px;
    line-height: 26px;
}

#article-body {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 60px;
    color: black;
}

#article-default-image {
    border: 0;
    color: #95a5a6;
    font-size: 16px;
    line-height: 0;
    height: auto;
    margin: 4px 0 0;
}

#article-default-image .left,
#article-default-image .right {
    float: left;
}

#article-default-image-remove-checkbox {
    display: none;
}

/* popped up when viewing default image sizes */
.modal-body {
    background-color: #333;
    width: auto;
}

/* ------ LIST ------- */

#list {
    padding: 70px 30px 20px;
}
#list .header,
#list .small-header {
    font-size: 42px;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 30px;
}
#list .small-header {
    font-size: 32px;
    line-height: 32px;
}
#list .header .header-link a {
    background-color: #16a085;
    color: white;
    display: block;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: .5px;
    font-weight: 100;
    padding: 0 10px;
}

#list hr {
    border-top:0;
    border-bottom: 1px solid #666;
}

#list .criteria {
    color: #95a5a6;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
}

#list .criteria ul {
    display: inline;
    list-style-type: none;
    margin:0 3px;
}

#list .criteria li {
    color: #333;
    cursor: pointer;
    display: inline;
    line-height: 24px;
    padding: 0 6px;
    font-weight: 400;
}

#list .criteria li.active {
    background: #16a085;
    color: white;
}

#list .fields {
    margin: 0 0 30px;
    padding: 0 0 3px;
    border-bottom: 1px solid #bdc3c7;
}

#list .items {
    margin: 10px 0 0 0;
}


#list .item {
    margin: 10px 10px0;
    padding:0 5px0 5px;
}

#list .fields,
#list .item,
#list .item a,
#list .item a:hover {
    font-size: 21px;
    line-height: 25px;
    font-weight: 100;
}
#list .fields {
}
#list .item.mix {
    display: none;
    opacity: 0;
}
#list .half {
    float: left;
    width: 50%;
}
#list .quarter {
    float: left;
    width: 25%;
}
#list .twofifths {
    float: left;
    width: 40%;
}
#list .onefifth {
    float: left;
    width: 20%;
}
.fail_element {
    opacity: 0;
    margin: 10px 10px0;
    padding:0 5px 5px0;
    font-size: 21px;
    font-weight: 100;
    font-style: italic;
}

.fail .fail_element {
    opacity: 1;
}

/* ------ USER, ROLE, CATEGORY, and SERIES forms------ */

#user-username,
#user-email,
#user-display-name,
#user-password,
#user-password-confirmation,
#role-name,
#role-key,
#page-name,
#page-slug,
#template-name,
#template-slug,
#component-name,
#component-slug,
#related-party-name,
#related-party-slug,
#category-name,
#category-slug,
#series-name,
#series-slug,
#flag-name,
#flag-slug,
#collection-name,
#collection-slug {
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    height: 30px;
    width: 300px;
    border:0;
    background: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radios:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    outline: none;
}

#user_role_ids {
    margin-top: 17px;
    margin-left: 10px;
}

#user-display-name-container {
    display: none;
}
.form-section {
    margin-bottom: 30px;
}


/* ------ PAGE form ------ */

.redactor_editor {
  color: black;
}

/* ------ ARTICLE ------ */

#left-bar {
    background: #bdc3c7;
    position: fixed;
    width: 250px;
    border-right: 1px solid #fff;
    height: 100%;
    top: 50px;
    left:0;
    z-index: 29;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#left-bar .header {
    border-bottom: 1px solid #fff;
    padding: 10px 30px;
    font-size: 24px;
    line-height: 1;
    font-weight: 100;

}

#left-bar .new {

}

#left-bar .new a {
    color: #fff;
    
}

#left-bar .item,
#left-bar .new {
    border-bottom: 1px solid #fff;
}
#left-bar .item a,
#left-bar .new a {
    background: rgba(255,255,255,.33);
    color: #16a085;
    font-size: 18px;
    line-height: 1;
    display: block;
    line-height: 40px;
    padding: 0 30px;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
       -moz-transition: color .3s ease-in-out, background .3s ease-in-out;
        -ms-transition: color .3s ease-in-out, background .3s ease-in-out;
         -o-transition: color .3s ease-in-out, background .3s ease-in-out;
            transition: color .3s ease-in-out, background .3s ease-in-out;
}
#left-bar .item a:hover {
    background: rgba(255,255,255,.66);
}
#left-bar .new a {
    color: #fff;
    background: #16a085;
}
#left-bar .new a:hover {
    background: #1abc9c;
}
#content {
    height: 100%;
    margin-left: 251px;
    padding: 60px 30px 10px;
}
#content.has-right-bar {
    margin-right: 350px;
}
#content .header {
    font-size: 24px;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    line-height: 1;
    margin: 0 -30px 20px;
    padding: 0 30px 10px;
}

#right-bar {
    position: fixed;
    width: 350px;
/*    background: #bdc3c7;*/
/*    background: rgba(189, 195, 199, .5);*/
    border-left: 1px solid #fff;
    height: 100%;
    top: 50px;
    right:0;
    z-index: 29;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#right-bar .header {
    padding: 10px 30px;
    font-size: 24px;
    line-height: 1;
    font-weight: 100;
    border-bottom: 1px solid #fff;
}

#right-bar .item {
    border-bottom: 1px solid #fff;
    padding: 10px 30px;
}

#right-bar .item .item-title {
    font-size: 18px;
    line-height: 24px;
}

.right-bar-link,
.right-bar-link:hover {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 11px;
}

#article-slug-check,
#article-slug-container,
#article-author-container,
#article-author-other,
#article-author-other-name,
#article-author-other-cancel {
    display: none;
}

#status {
    border-bottom: 1px solid #fff;
    line-height: 24px;
    padding: 10px 30px;
    position: relative;

}

#status .top {
    font-size: 24px;
    line-height: 1;
    font-weight: 100;
}

#schedule {
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 10px 30px;
}
#schedule .top {
    font-size: 24px;
    line-height: 1;
    font-weight: 100;
}
#schedule .top input {
    background: #fff;
}
#actions {
    position: fixed;
    bottom: 0px;
    padding: 13px 10px 10px;
    background: #bdc3c7;
    width: 100%;
    height: 25px;
    margin-left: -30px;
    margin-bottom: 0px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
    border: 0;
    -webkit-border-radius: 0;
     -khtml-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
     -khtml-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;

}
.input-append .add-on,
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child>.dropdown-toggle {
    background: #16a085;
    border: 0;
    -webkit-border-radius: 0;
     -khtml-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
    border: 0;
    -webkit-border-radius: 0;
     -khtml-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
     -khtml-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;

}
.input-append .add-on,
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child>.dropdown-toggle {
    background: #16a085;
    border: 0;
    -webkit-border-radius: 0;
     -khtml-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
}

/* ------- COLLECTION -------- */

.pinned-articles {
    margin-bottom: 6px;
}
.pinned-article {
    width: 500px;
    height: 60px;
    background-color: #7f8c8d;
    padding-left: 3px;
    margin-bottom: 3px;
    cursor: move;
}

.pinned-article .title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 3px;
}

.pinned-article .meta {
    font-size: 12px;
    line-height: 12px;
}


/* ------- TEMPLATES -------- */

#templates .template {
    float: left;
    border: 5px solid transparent;
    padding: 5px;
    cursor: pointer;
}

#templates .template img {
    margin-bottom: 5px;
}

#templates .template:hover {
    border: 5px solid #16a085;
}

#templates .template.active {
    border: 5px solid #16a085;
    color: #555;
}

.components {
    margin-bottom: 6px;
}
.component {
    width: 500px;
    height: 60px;
    background-color: #7f8c8d;
    padding-left: 3px;
    margin-bottom: 3px;
    cursor: move;
}

.component .title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 3px;
}

.component .meta {
    font-size: 12px;
    line-height: 12px;
}

/* ------- switch -------- */
.has-switch {
    border: 1px solid #fff;
}
.has-switch,
.has-switch span.switch-left,
.has-switch span.switch-right {
    -webkit-border-radius: 0;
     -khtml-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
}
.has-switch label {
    background: #7f8c8d;
    border: 0;
}
.has-switch span.switch-success {
/*    background: #27ae60;*/
}
.has-switch span.switch-danger {
/*    background: #c0392b;*/
}
.has-switch span.switch-danger,
.has-switch span.switch-danger:focus,
.has-switch span.switch-danger:active,
.has-switch span.switch-danger.active,
.has-switch span.switch-danger.disabled,
.has-switch span.switch-danger[disabled] {
    background: #c0392b;
}
.has-switch span.switch-danger:hover {
    background: #e74c3c;
}

.has-switch span.switch-success,
.has-switch span.switch-success:focus,
.has-switch span.switch-success:active,
.has-switch span.switch-success.active,
.has-switch span.switch-success.disabled,
.has-switch span.switch-success[disabled] {
    background: #16a085;
}
.has-switch span.switch-success:hover {
    background: #1abc9c;
}