body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
img:focus,a:focus {outline-style:none}
/* ------ DEFAULTS ------ */

html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
a {
    text-decoration: none;
}

/* ------ GLOBAL ------ */

html, body {
    background: #ecf0f1;
    color: #555;
    height: 100%;
}

.clearfix{
    clear: both;
    overflow: hidden;
}

.button,
.button:hover {
  padding: 5px 15px !important;
  font-size: 18px;
  line-height: 18px;
  font-weight: 100;
  font-style: normal;
  color: white;
  vertical-align: middle;
  background-color: #bdc3c7;
  text-decoration: none !important;
  border: none;
  clear: both;
  webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.button.small {
    padding: 5px 10px !important;
    font-size: 15px;
}

.button.green {
    background: #16a085;
}
.button.green:hover {
    background: #1abc9c;
}

.button.yellow {
    background: #f1c40f;
}
.button.yellow:hover {
    background: #f39c12;
}

.label-success,
.badge-success {
    background: #16a085;
}
.label-success,
.badge-success {
    background: #16a085;
}

.checkbox {
    padding: 0px;
    min-height: 0px;
    width: 50%;
    float: left;
}

/* ------ HEADER ------ */

header .top {
    background: #fff;
    color: #16a085;
    font-size: 24px;
    font-weight: 100;
    height: 87px;
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

header .site-name {
    position: absolute;
    font-size: 21px;
}

header .site-name a {
    color: #16a085;
}

header .navigation-wrapper {
    padding: 10px 5px 10px 25px;
}

header .navigation {
    padding: 5px 0 5px 10px;
    height: 14px;
    background: #ecf0f1;
    color: #555;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    float: right;
    margin: 5px;
}

header .navigation ul {
    margin: 0;
}

header .navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    line-height: 0;
}

header .navigation li a {
    color: #16a085;
    text-decoration: none;
}

/* ------ CONTENT ------ */

#stage {
    height: 100%;
}

.form-section-left {
    color: #000;
    float: left;
    padding: 0;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.375;
    width: 20%;
}

.form-section-right {
    float: left;
    width: 75%;
    margin-top: 5px;
}

.form-line {
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    width: 100%;
}
.form-line .template {
    color: #95a5a6;
    font-size: 18px;
    font-weight: 100;
}
.form-line textarea {

}
.form-line a,
.form-line a:hover {
    color: #999;
}
.form {
    padding-top: 20px;
}
#article-title,
#article-slug,
#article-default-image,
#article-author-other-name,
#article-body,
#article-summary,
#event-title,
#event-slug,
#event-body,
#event-tag,
#event-default-image {
    font-size: 24px;
    line-height: 30px;
    font-weight: 100;
    height: 30px;
    width: 500px;
    border:0;
    background: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radios:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    resize: none;
    width: 100%;
}

#article-title {
    font-size: 24px;
    line-height: 26px;
}

#article-default-image {
    border: 0;
    color: #95a5a6;
    font-size: 16px;
    line-height: 0;
    height: auto;
    margin: 4px 0 0;
}
#article-default-image .article-select-image.large {
    width: 457px;
    height: 310px;
    font-size: 41px;
    margin-top: -10px;
}

#article-default-image .display {
    margin-bottom: 10px;
}


/* ------ LIST ------- */

#list {
    padding: 107px 30px 20px;
}
#list .header,
#list .small-header {
    font-size: 42px;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 20px;
}
#list .small-header {
    font-size: 32px;
    line-height: 32px;
}
#list .header .header-link a {
    background-color: #16a085;
    color: white;
    display: block;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: .5px;
    font-weight: 100;
    padding: 0 10px;
}

#list .search {
    margin-bottom: 10px;
}

#list .search .name,
#list .search .contents,
#list .search .spinner,
#list .filter-header .name,
#list .filter-header .contents {
    float: left;
}

#list .search .name,
#list .filter-header .name  {
    font-size: 24px;
    line-height: 30px;
    font-weight: 100;
    margin-top: 4px;
    margin-right: 10px;
}

#list .search .contents .article-search-term {
    width: 300px !important;
}

#list .filter-header .contents .reset-filters {
    display: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    margin-top: 12px;
    color: #95a5a6;
    cursor: pointer;
}

#list .search .spinner {
    margin: 9px;
    color: #16a085;
}

#list hr {
    border-top:0;
    border-bottom: 1px solid #666;
}

#list .criteria-set {
    margin: 10px 0px 20px 30px;
}

#list .criteria {
    color: #95a5a6;
    font-size: 18px;
    font-weight: 100;
    margin: 0 0 15px 0px;
}

#list .criteria .name,
#list .criteria .contents {
    float: left;
}

#list .criteria .name {
    width: 80px;
    padding-top: 2px;
}

#list .criteria .name.large {
    font-size: 24px;
    line-height: 30px;
    color: #555;
}

#list .criteria ul {
    display: inline;
    list-style-type: none;
    margin:0 3px;
}

#list .criteria li {
    color: #333;
    cursor: pointer;
    display: inline;
    line-height: 24px;
    padding: 0 6px;
    font-weight: 100;
}

#list .criteria li.active {
    background: #16a085;
    color: white;
}

#list .fields {
    margin: 0 0 10px;
    padding: 0 0 3px;
    border-bottom: 1px solid #bdc3c7;
}

#list .items {
    margin: 10px 0 0 0;
}

#list .item {
    margin: 5px 5px 3px 0px;
    padding:0 5px 0 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

#list .fields,
#list .item,
#list .item a,
#list .item a:hover {
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
}
#list .item.mix {
    display: none;
    opacity: 0;
}
#list .half {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 1px;
}
#list .half.last {
    width: 48%;
}
#list .quarter {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 1px;
}
#list .quarter.last {
    width: 23%;
}
#list .twofifths {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding: 1px;
}
#list .twofifths.last {
    width: 38%;
}
#list .onefifth {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 1px;
}
#list .onefifth.last {
    width: 17%;
}
#list .onetenth {
    float: left;
    width: 10%;
    box-sizing: border-box;
    padding: 5px;
}
#list .onetenth.last {
    width: 8%;
}

#list .item .published {
    color: white;
    background-color: #2ecc71;
    box-sizing: border-box;
    padding: 1px;
}

#list .item .scheduled {
    color: white;
    background-color: #f1c40f;
    box-sizing: border-box;
    padding: 5px;
}

#list .item .unscheduled {
    color: white;
    background-color: #e74c3c;
    box-sizing: border-box;
    padding: 5px;
}

.fail_element {
    opacity: 0;
    margin: 10px 10px0;
    padding:0 5px 5px0;
    font-size: 21px;
    font-weight: 100;
    font-style: italic;
}

.fail .fail_element {
    opacity: 1;
}

/* ------ USER, ROLE, CATEGORY, and SERIES forms------ */

.form-text-field {
    font-size: 24px !important;
    font-weight: 100 !important;
    line-height: 30px !important;
    height: 30px !important;
    width: 300px !important;
    border:0 !important;
    background: none !important;
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
    margin-bottom:0 !important;
    outline: none !important;
}

.select-field {
    font-size: 18px;
}

#user_role_ids {
    margin-top: 17px;
    margin-left: 10px;
}

#user-display-name-container {
    display: none;
}

.form-section {
    margin-bottom: 30px;
}

/* ------ ARTICLE ------ */

#left-bar {
    background: #bdc3c7;
    position: fixed;
    width: 250px;
    border-right: 1px solid #fff;
    height: 100%;
    top: 87px;
    left:0;
    z-index: 29;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#left-bar .header {
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    color: white;
}

#left-bar .new {
    min-height: 44px;
    background: rgba(255,255,255,.33);
}

#left-bar .item {
    border-bottom: 1px solid #fff;
    background: rgba(255,255,255,.33);
    padding: 10px 0px;
}

#left-bar .item a,
#left-bar .new a {
    color: #555;
    font-size: 15px;
    line-height: 1;
    display: block;
    line-height: 18px;
    padding: 0 15px;
    font-weight: 100;
    text-decoration: none;
    -webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
       -moz-transition: color .3s ease-in-out, background .3s ease-in-out;
        -ms-transition: color .3s ease-in-out, background .3s ease-in-out;
         -o-transition: color .3s ease-in-out, background .3s ease-in-out;
            transition: color .3s ease-in-out, background .3s ease-in-out;
}

#left-bar .item:hover {
    background: rgba(255,255,255,.66);
}
#left-bar .new a {
    color: #fff;
    background: #16a085;
    font-size: 24px;
    line-height: 44px;
}
#left-bar .new a:hover {
    background: #1abc9c;
}
#content {
    height: 100%;
    margin-left: 251px;
    padding: 97px 30px 70px;
}
#content.has-right-bar {
    margin-right: 320px;
}
#content .header {
    font-size: 24px;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    line-height: 1;
    margin: 0 -30px 20px;
    padding: 0 30px 10px;
}

#content .header .view-published-article {
    color: #bdc3c7;
}

#content .header .view-published-article a,
#content .header .view-published-article a:hover {
    color: #2ecc71;
}

#content .header.internal {
    border-bottom: 0;
    border-top: 1px solid #fff;
    margin: 10px -30px 10px;
    padding: 15px 30px 10px;
}

#content .header .tip {
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#content select {
    height: 28px;
    font-size: 18px;
}

#right-bar {
    position: fixed;
    width: 320px;
    border-left: 1px solid #fff;
    height: 100%;
    top: 87px;
    right:0;
    z-index: 29;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#right-bar .header {
    padding: 10px 30px;
    font-size: 24px;
    line-height: 1;
    font-weight: 100;
    border-bottom: 1px solid #fff;
}

#right-bar .items {
    height: 100%;
    padding-bottom: 232px;
    overflow-y: scroll;
    box-sizing: border-box;
}

#right-bar .items .item {
    border-bottom: 1px solid #fff;
    padding: 10px 30px;
}

#right-bar .items .item.current_revision {
    background-color: #7f8c8d;
}

#right-bar .items .item.dim {
    opacity: .1;
}

#right-bar .items .item .item-title {
    font-size: 18px;
    line-height: 24px;
}

#right-bar .items .item .item-title .lighter {
    color: #bdc3c7;
}

#right-bar .items .item.current_revision .item-title,
#right-bar .items .item.current_revision .item-sub-title {
    color: white;
}

#right-bar .items .item .item-title .published,
#right-bar .items .item .icons i.published {
    color: #2ecc71;
}

#right-bar .items .item .item-title .scheduled {
    color: #f1c40f;
}

#right-bar .items .item .item-sub-title {
    font-size: 12px;
    line-height: 15px;
    color: #888;
}

#right-bar .items .item .item-sub-title .bold {
    font-weight: bold;
}

#right-bar .items .item.current_revision .icons {
    color: white;
}

#right-bar .items .item .show-publish.active {
    color: white;
    background-color: #2ecc71;
    padding: 3px;
}
#right-bar .items .item .unpublish.active {
    color: white;
    background-color: #e74c3c;
    padding: 3px;
}
#right-bar .items .item .view-revision.active {
    color: black;
    background-color: white;
    padding: 3px;
}

#right-bar .items .publish {
    display: none;
    padding: 10px 30px;
    border-bottom: 1px solid #fff;
    background-color: #bdc3c7;
}

#right-bar .items .publish .item-title {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

#right-bar .items .publish .buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

#right-bar .items .publish .buttons.schedule {
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-weight: 100;
    display: none;
    margin-top: 0px;
}

#right-bar .items .publish .buttons.schedule .topbuffer {
    margin-top: 10px;
}

#right-bar .items .publish a {
    font-size: 16px;
}
#right-bar .items .publish a.now {
    background-color: #2ecc71;
}

#right-bar .items .publish a.schedule,
#right-bar .items .publish a.later {
    background-color: #f1c40f;
}

#right-bar .items .publish a.cancel {
    background-color: #e74c3c;
}

#right-bar .items .publish .failed-validation {
    display: none;
    margin-top: 0px;
}

#right-bar .items .publish .failed-validation .message {
    color: white;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
}

.right-bar-link,
.right-bar-link:hover {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 11px;
}

.datepicker,
.timepicker {
    color: white !important;
    font-size: 21px !important;
    font-weight: 100 !important;
    line-height: 27px !important;
    height: 24px !important;
    width: 270px !important;
    border:0 !important;
    background: none !important;
    border-bottom: 1px solid #999 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radios:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
    margin-bottom:0 !important;
    outline: none !important;
}

.timepicker {
    margin-bottom: 10px;
}

#article-slug-check,
#article-slug-container,
#article-author-container,
#article-author-other,
#article-author-other-name,
#article-author-other-cancel {
    display: none;
}

#status {
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 10px 30px;
    font-size: 21px;
    line-height: 24px;
    font-weight: 100;
    color: white;
}

#status.published {
    background-color: #2ecc71;
}

#status.scheduled {
    background-color: #f1c40f;
}

#status.unpublished {
    background-color: #e74c3c;
}

#status a,
#status a:hover {
    color: white;
}

#actions {
    position: fixed;
    bottom: 0px;
    padding: 13px 10px 10px;
    background: #bdc3c7;
    width: 100%;
    height: 25px;
    margin-left: -30px;
    margin-bottom: 0px;
    z-index: 30;
}

/* ------- COLLECTION -------- */

.pinned-entities {
    margin-bottom: 3px;
}
.pinned-entity {
    width: 500px;
    height: 64px;
    background-color: #7f8c8d;
    color: white;
    padding-left: 3px;
    margin-bottom: 3px;
    cursor: move;
}

.pinned-entity .title {
    font-size: 36px;
    line-height: 36px;
    margin: 7px 7px 0px 7px;
}

.pinned-entity .meta {
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0px 0px 7px;
}

.pinned-entity .meta a {
    color: white;
}

.add-article,
.add-article:hover {
    color: white !important;
    font-size: 14px;
}

/* ------- TEMPLATES -------- */

#templates .template {
    float: left;
    border: 5px solid transparent;
    padding: 5px;
    cursor: pointer;
}

#templates .template img {
    margin-bottom: 5px;
    width: 90px;
    height: 90px;
}

#templates .template:hover {
    border: 5px solid #bdc3c7;
}

#templates .template.active {
    border: 5px solid #bdc3c7;
    color: #555;
}

.components {
    margin-bottom: 3px;
}
.component {
    width: 500px;
    height: 64px;
    background-color: #7f8c8d;
    color: white;
    padding-left: 3px;
    margin-bottom: 3px;
    cursor: move;
}

.component .title {
    font-size: 36px;
    line-height: 36px;
    margin: 7px 7px 0px 7px;
}

.component .meta {
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0px 0px 7px;
}

.component .meta a {
    color: white;
}

.add-component,
.add-component:hover {
    color: white !important;
    font-size: 14px;
}