.mobile {
    
    * { 
        font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
        box-sizing: border-box;
    }
    
    background: #fff;
    
    header .top {
        background: #fff;
        color: #16a085;
        font-size: 24px;
        font-weight: 100;
        height: 50px;
        line-height: 1;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    
        img {
            height: 40px;
        }
    
        .navigation-wrapper {
            padding: 5px 0;
        }
    
        .pull-right {
            .navigation-link {
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                padding: 15px 25px;
                color: #000;
            }
        }
    }
    
    .types {
        padding: 0;
        position: fixed;
        top: 50px;
        width: 100%;
        
        &:after { clear: both; }
        
        .type {
            float: left;
            width: 16.66667%;
            background: #0E0E0E;
            padding: 10px 0;
            text-align: center;
            color: #fff;
            
            .icon {
                font-size: 36px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 5px;
            }
            
            .name {
                font-size: 14px;
                line-height: 1;
                text-transform: uppercase;
                font-size: 10px;
            }
        }
    }
    
    .result,
    .message {
        padding: 10px;
        margin: 5px;
        background: #2ecc71;
        color: white;
        
        &.failure { background: #e74c3c; }
        &.error { background: #e67e22; }
    }
    
    .message {
        margin-top: 125px;
    }
    
    .homepage-links {
        padding: 50px 0 0;
        a {
            display: block;
            font-size: 21px;
            padding: 15px;
            margin: 5px;
            background: #000;
            color: white;
            border-radius: 4px;

            span {
                margin-right: 10px;
            }
        }
    }
    
    .content {
        padding: 140px 0;
        h1 {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
        
        form {
            width: 100%;
            .form-row {
                width: 100%;
                padding: 20px 10px;
                box-sizing: border-box;
                
                .title {
                    font-size: 12px;
                    text-transform: uppercase;
                }
                
                input[type=text],
                textarea {
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #ddd;
                    outline: none;
                    -webkit-box-shadow: none;
                    height: 32px;
                    font-size: 24px;
                }
                
                textarea {
                    height: 100px;
                    font-size: 16px;
                }
                
                .submit {
                    display: block;
                    width: 100%;
                    padding: 20px 15px 15px;
                    background: #2ecc71;
                    text-align: center;
                    font-weight: bold;
                    font-size: 18px;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
        }
    }
}