#picker {
    display: none;
    position:absolute;
    top: 87px;
    right:0;
    width: 350px;
    height: 90%;
    background: #333;
    border-left: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 0 3px 0 rgba(0,0,0,0.2);
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

.pickercontent {
    height: 100%;
}

.pickercontent header .top {
    background: #fff;
    color: #16a085;
    font-size: 24px;
    font-weight: 100;
    height: 50px;
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.site .pickercontent header .top {
    color: #fff;
    background: #16a085;
}
.pickercontent header .navigation-wrapper {
    padding: 10px 25px 10px 10px;
}

.pickercontent header input {
    color: white;
    font-weight: 100;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: 260px;
    margin-left: 20px;
    border:0;
    background: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    resize: none;
}

.pickercontent .new,
.pickercontent .item {
    padding: 10px;
    border-bottom: 1px solid #bdc3c7;
}

.pickercontent .item {
    cursor: pointer;
}


.pickercontent .item .single {
    font-size: 24px;
    line-height: 30px;
}

.pickercontent .item .single .links {
    font-size: 15px;
}

.pickercontent .item .thumb,
.pickercontent .item .info {
    float: left;
}

.pickercontent .item .info {
    font-size: 24px;
    line-height: 27px;
    margin-left: 10px;
    width: 315px;
}

.pickercontent .item .info a,
.pickercontent .item .single a {
    color: #7f8c8d;
    text-decoration: none;
    font-weight: 100;
}

.pickercontent .tabs {
    width: 100%;
    display: block;
    margin-top: 50px;
    background-color: #bdc3c7;
}

.pickercontent .tabs .tab {
    float: left;
    width: 156px;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: white;
    background-color: #bdc3c7;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.pickercontent .content {
    display: none;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 150px;
}

.pickercontent .content .caption {
    font-size: 12px;
    line-height: 16px;
    color: #bdc3c7;
    font-weight: 100;
}

.pickercontent .content .caption .italic {
    font-style: italic;
}

.pickercontent .search {
    padding: 10px;
}

.pickercontent .search .results {
    padding-bottom: 150px;
}

.pickercontent .add {
    padding: 10px;
}

.pickercontent .buttons {
    margin-top: 15px;
    margin-bottom: 10px;
}

#search-term,
#video-name,
#video-slug,
#video-code,
#image-name,
#image-slug,
#image-caption,
#image-credit,
#sound-name,
#sound-slug,
#sound-code,
#gallery-name,
#gallery-slug {
    color: #666;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    height: 30px;
    width: 460px;
    border:0;
    background: none;
    border-bottom: 1px solid #bdc3c7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radios:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    outline: none;
}

#image-display {
    margin-top: 5px;
}

#image-drop {
    text-align: center;
    padding: 20px;
    background-color: #F6F6F6;
    border: 1px dashed #666;
    border-radius: 6px;
    margin-bottom: 20px;
}

#picker-bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 475px;
    height: 30px;
    padding: 10px 10px 10px 15px;
    background: #7f8c8d;
    z-index: 30;
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}

#picker-bottom-bar .buttons {
    padding: 2px 0px;
}