
/* Optional scoped theme for tag-it which mimics the zendesk widget. */


ul.tagit {
    font-size: 18px !important;
    font-weight: 100 !important;
    line-height: 24px !important;
    border:0 !important;
    background: none !important;
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
    margin-bottom:0 !important;
    outline: none !important;
}
ul.tagit li.tagit-choice {
    color: white;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0;
    background: none;
    background-color: #bdc3c7;
    height: 24px;
    padding-right: 24px;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
    font-weight: 100;
    color: white;
}
ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    right: .3em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-size: 16px;
    line-height: 16px;
    color: white;
    padding-left: 10px;
}
ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
    background-color: #ccc;
}
ul.tagit input[type="text"] {
    color: #333333;
    background: none;
    height: auto;
    width: 150px;
}

