<div id="bottom-bar">
    <div class="title pull-left">
      Preview
    </div>
    <div class="screen-sizes pull-left">
      <span aria-hidden="true" id="preview-size-screen" class="preview-size icon-screen active"></span>
      <span aria-hidden="true" id="preview-size-mobile" class="preview-size icon-mobile"></span>
    </div>
    <div class="done-previewing pull-right">
      <a id="article-preview" href="<%= edit_admin_article_path(@article) %>" class="button">Done Previewing</a>
    </div>  
</div>