<div id="left-bar">
    <div class="header">
        <%= Settings.articles.plural %>
    </div>

    <div class="new">
        <%= link_to "New #{Settings.articles.singular} »", new_admin_article_path %>
    </div>
    
    <% @articles.each do |article| %>
        <div class="item"><%= link_to article.title, edit_admin_article_path(article) %></div>
    <% end %>
</div>