<div id="custom-content" class="white-popup-block" style="max-width: 800px; margin: 20px auto;">
    <div id="list" style="padding-top: 20px">
        <div class="small-header">
            Thumb
        </div>
        <div class="item">
            <%= image_tag @article.default_image_url(:thumb).to_s %>
        </div>

        <hr/>

        <div class="small-header">
            List
        </div>
        <div class="item">
            <%= image_tag @article.default_image_url(:list).to_s %>
        </div>

        <hr/>

        <div class="small-header">
            Large
        </div>
        <div class="item">
            <%= image_tag @article.default_image_url(:large).to_s %>
        </div>
    </div>
</div>