<div id="stage">
    
    <%= render "left_bar" %>
    
    <%= form_for [:admin, @article], :html => {:id => 'article-form'} do |f| %>
    
        <%= render :partial => 'content', :locals => {:f => f, :action => 'update'}%>
                
        <%= render :partial => 'right_bar', :locals => {:f => f, :action => 'update'} %>
        
    <% end %>
</div>
