<div id="left-bar">
    <div class="header">
        <%= Settings.related_parties.plural %>
    </div>

    <div class="new">
        <%= link_to "New #{Settings.related_parties.singular} »", new_admin_related_party_path %>
    </div>
    
    <% @related_parties.each do |related_party| %>
        <div class="item"><%= link_to related_party.name, edit_admin_related_party_path(related_party) %></div>
    <% end %>
</div>