<div id="left-bar">
    <div class="new">
        <%= link_to "New Role »", new_role_path %>
    </div>
    
    <div class="header">
        Recent Roles:
    </div>

    <% @roles.each do |role| %>
        <div class="item"><%= link_to role.name, edit_role_path(role) %></div>
    <% end %>
</div>