<div class="item clearfix">
    <div class="single">
        <iframe width="475" height="357" src="//www.youtube.com/embed/<%= video.code %>" frameborder="0" allowfullscreen></iframe>
        <%= link_to video.name, "", 'data-picker-item' => video.id %>
    </div>
</div>
