<div class="item clearfix">
    <div class="single">
        <iframe src="http://player.vimeo.com/video/<%= vimeo.code %>?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="380" height="175" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
        <%= link_to vimeo.name, "", 'data-picker-item' => vimeo.id %>
    </div>
</div>
