<div class="pickercontent">
    <div class="header">
        <%= Settings.components.name.pluralize %>
    </div>

    <div class="content select">
        <% @components.each do |component| %>
            <div class="item"><%= link_to component.name, "", 'data-picker-item' => component.id %></div>
        <% end %>
    </div>
</div>