<div class="pickercontent">
    <header>
    	<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Galleries
            </div>
    	</div>
    </header>

    <div class="tabs clearfix">
        <div class="tab" data-content="recent">
            Recent Galleries
        </div>
        <div class="tab" data-content="search">
            Search for Gallery
        </div>
        <div class="tab" data-content="add">
            Add a Gallery
        </div>
    </div>
    <div class="content recent">    
        <% @galleries.each do |gallery| %>
            <%= render :partial => 'gallery_item', :locals => {:gallery => gallery} %>
        <% end %>
    </div>
    <div class="content search">
        <div>
            <%= text_field_tag :search, "", :placeholder => "Enter a search term", :id => 'search-term', :class => "picker-search-field", :autocomplete=>"off" %>
        </div>
        <div class="buttons">
            <a href="" class="button" id="picker-search" data-type="Gallery">Search</a>
        </div>
        <div class="results"></div>
    </div>
    <div class="content add">
        <div>
            <%= text_field_tag :name, "", :placeholder => "Name", :id => 'gallery-name', :class => "picker-new-name", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :slug, "", :placeholder => "Slug", :id => 'gallery-slug', :class => "picker-new-slug", :autocomplete=>"off" %>
        </div>
        
        <div class="buttons">
            <a href="" class="button" id="picker-add-gallery">Create Gallery and Add Images</a>
        </div>
    </div>
</div>

<div id="picker-bottom-bar">
    <div class="buttons">
        <a id="picker-cancel" href="#" class="button">Close Video Selector</a>
    </div>  
</div>
