<div id="left-bar">
    <div class="header">
        Series
    </div>

    <div class="new">
        <%= link_to "New Series »", new_admin_series_path %>
    </div>
    
    <% @serieses.each do |series| %>
        <div class="item"><%= link_to series.name, edit_admin_series_path(series) %></div>
    <% end %>
</div>