<div id="list">
    
    <div class="header">
        <%= Settings.series.plural %>
        <div class="header-link pull-right">
            <%= link_to "New #{Settings.series.singular} »", new_admin_series_url %>
        </div>
    </div>
    
    <div id="fields" class="fields clearfix">
        <div class="half">
            Name
        </div>
        <div class="quarter">
            Slug
        </div>
    </div>

    <ul id="items" class="items">
        <% @serieses.each do |series| %>
            <li class="item mix not_scheduled clearfix">
                <div class="half">
                    <%= link_to series.name, edit_admin_series_path(series) %>
                </div>
                <div class="quarter">
                    <%= link_to series.slug, edit_admin_series_path(series) %>
                </div>
            </li>
        <% end %>
    </ul>
    
</div>