#picker {
    display: none;
    position:absolute;
    top: 50px;
    right:0;
    width: 350px;
    height: 90%;
    background: #333;
    border-left: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 0 3px 0 rgba(0,0,0,0.2);
    -webkit-transition: left .5s ease-in-out,background .4s ease-in-out;
    transition: left .5s ease-in-out,background .4s ease-in-out;
}
.pickercontent .header {
    padding: 10px;
    background-color: #95a5a6;
    font-size: 42px;
    line-height: 42px;
    font-weight: 100;
    color: white;
}

.pickercontent .header span {
    margin: 3px 3px;
    color: white;
    font-size: 32px;
    line-height: 48px;  
    background-position: 14px 14px;
}

.pickercontent .header input {
    color: white;
    font-weight: 100;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: 260px;
    margin-left: 20px;
    border:0;
    background: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    resize: none;
}

.pickercontent .new,
.pickercontent .item {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.pickercontent .item {
    cursor: pointer;
}

.pickercontent .item a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.pickercontent .tabs {
    width: 100%;
}

.pickercontent .tabs .tab {
    float: left;
    width:165px;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: #8e44ad;
    padding: 5px;
    cursor: pointer;
}

.pickercontent .content {
    display: none;
}

.pickercontent .add {
    background-color: #9b59b6;
    padding: 10px;
}

.pickercontent .buttons {
    margin-top: 15px;
    margin-bottom: 10px;
}

#video-name,
#video-slug,
#video-code,
#image-name,
#image-slug,
#image-caption,
#image-credit,
#sound-name,
#sound-slug,
#sound-code {
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    height: 30px;
    width: 300px;
    border:0;
    background: none;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radios:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom:0;
    outline: none;
}

#image-display {
    margin-top: 5px;
}

#image-drop {
    text-align: center;
    padding: 20px;
    background-color: #F6F6F6;
    border: 1px dashed #666;
    border-radius: 6px;
    margin-bottom: 20px;
}