<div class="images">
    <% @gallery.content_widgets.each do |cw| %><%= image_tag cw.content.image.url(:mediumthumb) %><% end %>
</div>
<div class="selected-buttons">
    Select a different gallery
</div>