<div id="select_top_video" data-path="<%= admin_article_editor_select_top_video_path(@article) %>"></div>

<div class="video-container" data-picker="video" data-picker-callback="article_editor#select_top_video" data-picker-position="<%= position %>">
    <% 
        if @widgets["#{position}"].content_type == "Video"
            @video = @widgets["#{position}"].content
        end
    %>
    <% if @video %>
        <%= render :partial => 'top-video-embed' %>
    <% else %>
        <div class="select-video">
            Select a video
        </div>
    <% end %>
</div>