<div class="top-video">
    <div class="video-container" data-picker="video" data-picker-callback="article_editor#add_top_video">
        <div class="select-video">
            Select a video
        </div>
    </div>
</div>
