#article_editor .gallery {}

#article_editor .gallery .gallery-container {
    margin-left: -14px;
    width: 663px;
    position: relative;
}

#article_editor .gallery .gallery-container div.first {
    width: 646px;
    display: inline-block;
}

#article_editor .gallery .gallery-container div.first img {
    height: 368px;
    margin-top: 0;
    margin-bottom: 0;
}

#article_editor .gallery .gallery-container img {
    display: block;
    cursor: pointer;
    height: 100px;
    float: left;
    margin: 14px 0px 10px 14px;
}

#article_editor .gallery .gallery-container .images {
    min-height: 349px;
}

#article_editor .gallery .gallery-container .images img {
    border: 0px;
    width: 137.5px;
    background-color: #bdc3c7;
    vertical-align: middle;
    cursor: pointer;
}

#article_editor .gallery .gallery-container .select-gallery {
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    text-align: center;
    margin-left: 14px;
    padding: 165px 50px;
    color: white;
    cursor: pointer;
    background-color: #bdc3c7;
}

#article_editor .gallery .gallery-container .selected-buttons {
    padding: 10px;
    text-align: right;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    background-color: #bdc3c7;
    margin-left: 14px;
    cursor: pointer;
}

#article_editor .gallery .gallery-container .selected-buttons a, 
#article_editor .gallery .gallery-container .selected-buttons a:hover {
    color: white;
}
