#article_editor .meta {}

#article_editor .meta h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px 0;
}

#article_editor .meta h1 span {
    background: #000;
    padding: 2px 4px;
    font-family: Arial, sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #fff;
}

#article_editor .meta .byline {
    height: 30px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;
}

#article_editor .meta .byline .category {
    position: absolute;
    left: 0;
    top: 0;
    font-family: Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;
}

#article_editor .meta .byline .category .icon {
    margin: 0 4px -2px 0;
    font-family: Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;
}

#article_editor .meta .byline .date {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;
}

#article_editor .meta .byline .more-from {
    position: absolute;
    right: 0;
    top: 0;
    font-family: Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;
}

#article_editor .meta .byline .more-from a {
    font-weight: bold;
    color: #444;
    outline: 0;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-family: Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;
}
