#article_editor .vimeo {
}

#article_editor .vimeo .vimeo-container {
    border: 1px solid white;
    min-height: 340px;
    background-color: #bdc3c7;
    cursor: pointer;
}

#article_editor .vimeo .vimeo-container .select-vimeo {
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    width: 50%;
    text-align: center;
    margin: 165px auto;
    color: white;
}

#article_editor .vimeo .vimeo-container .selected-buttons {
    padding: 10px;
    text-align: right;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
}