<div id="left-bar">
    <div class="new">
        <%= link_to "New #{Settings.articles.name} »", new_article_path %>
    </div>
    
    <% if @articles.count > 0 %>
        <div class="header">
            Recent <%= Settings.articles.name.pluralize %>:
        </div>

        <% @articles.each do |article| %>
            <div class="item"><%= link_to article.title, edit_article_path(article) %></div>
        <% end %>
    <% end %>
</div>