<div class="images">
    <% @gallery.content_widgets.each do |cw| %><%= image_tag cw.content.image.url(:mediumthumb) %><% end %>
</div>
<div class="selected-buttons clearfix">
    <div class="pull-left">
        <%= link_to "Edit this gallery", gallery_editor_path(@gallery) %>
    </div>
    <div class="pull-right">
        Select a different gallery
    </div>
</div>