<div class="meta">
    
    <h1><span><%= @article.title %></span></h1> 

    <div class="byline">
    
        <div class="category"><span class="icon sprite-song"></span>Song</div>
        <div class="date">12/30/12</div>
        <div class="more-from">More From: <a href="">Artist</a></div>
    
    </div>
    
</div>

