<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= @sound.code %>"></iframe>
<div class="selected-buttons">
    Select a different sound
</div>