<div id="select_video" data-path="<%= article_editor_select_video_path(@article) %>"></div>

<div class="video-container" data-picker="video" data-picker-callback="article_editor#select_video" data-picker-position="<%= position %>">
    <% 
        if !@widgets.blank? && @widgets["#{position}"]&& @widgets["#{position}"].content_type == "Video"
            @video = @widgets["#{position}"].content
        end
    %>
    <% if @video %>
        <%= render :partial => 'video-embed' %>
    <% else %>
        <div class="select-video">
            Select a Video
        </div>
    <% end %>
</div>