<div id="select_widevideo" data-path="<%= article_editor_select_widevideo_path(@article) %>"></div>

<div class="widevideo-container" data-picker="video" data-picker-callback="article_editor#select_widevideo" data-picker-position="<%= position %>">
    <% 
        if !@widgets.blank? && @widgets["#{position}"]&& @widgets["#{position}"].content_type == "Video"
            @widevideo = @widgets["#{position}"].content
        end
    %>
    <% if @widevideo %>
        <%= render :partial => 'widevideo-embed' %>
    <% else %>
        <div class="select-widevideo">
            Select a video
        </div>
    <% end %>
</div>