<div id="select_widevimeo" data-path="<%= article_editor_select_widevimeo_path(@article) %>"></div>

<div class="widevimeo-container" data-picker="vimeo" data-picker-callback="article_editor#select_widevimeo" data-picker-position="<%= position %>">
    <% 
        if !@widgets.blank? && @widgets["#{position}"]&& @widgets["#{position}"].content_type == "Vimeo"
            @widevimeo = @widgets["#{position}"].content
        end
    %>
    <% if @widevimeo %>
        <%= render :partial => 'widevimeo-embed' %>
    <% else %>
        <div class="select-widevimeo">
            Select a Vimeo video
        </div>
    <% end %>
</div>