<div id="select_wideimage" data-path="<%= article_editor_select_wideimage_path(@article) %>"></div>

<div class="wideimage-container" data-picker="image" data-picker-callback="article_editor#select_wideimage" data-picker-position="<%= position %>">
    <% 
        if !@widgets.blank? && @widgets["#{position}"]&& @widgets["#{position}"].content_type == "Image"
            @wideimage = @widgets["#{position}"].content
        end
    %>
    <% if @wideimage %>
        <%= render :partial => 'wideimage-embed' %>
    <% else %>
        <div class="select-image">
            Select an Image
        </div>
    <% end %>
</div>
