<div id="right-bar">

    <div class="header">
        Settings
    </div>

    <div class="item">
        <div class="item-title">Display name</div>
        <div id="user-display-name-display">
            <%= @user.display_name || @user.email %>
        </div>
        <div id="user-display-name-container">
            <%= f.text_field :display_name, :value => (@user.display_name || @user.email), :id => 'user-display-name', :placeholder => 'Display name', :class => "input-xlarge", 'data-original-display-name' => @user.display_name %>
        </div>
        <div id="user-display-name-reset"><a href="#" id="user-display-name-change" class="right-bar-link">Change</a></div>
    </div>
    
    <div id="actions">
        <% if action == 'create' %>
            <%= f.submit "Create User", :class => "btn" %>
        <% elsif action == 'update'%>
            <%= f.submit "Save User", :class => "btn" %>
        <% end %>
    </div>
    
</div>