<div class="pickercontent">
    <div class="header">
        <%= Settings.components.plural %>
    </div>

    <% @components.each do |component| %>
        <div class="item"><%= link_to component.name, "", 'data-picker-item' => component.id %></div>
    <% end %>
</div>