<% if @message %>
    <div class="message">
        <%= @message %>
    </div>
<% end %>

<div class="homepage-links">
    <a href="/admin/mobile/image"><span class="fa fa-camera-retro"></span> Post an Image</a>
    <a href="/admin/mobile/tweet"><span class="fa fa-twitter"></span> Post a Tweet</a>
    <a href="/admin/mobile/sound"><span class="fa fa-volume-up"></span> Post a Sound</a>
    <a href="/admin/mobile/video"><span class="fa fa-film"></span> Post a Video</a>
    <a href="/admin/mobile/quote"><span class="fa fa-quote-left"></span> Post a Quote</a>
    <a href="/admin/mobile/link"><span class="fa fa-link"></span> Post a Link</a>
</div>