<div class="content">
    <h1>Post a Video</h1>

    <% if @result %>
        <div class="result <%= @result %>">
            <% if @result == 'success' %>
                Video successfully posted.
            <% elsif @result == 'failure' %>
                Video couldn't be posted.
            <% elsif @result == 'error' %>
                Please select a Video type and enter a url.
            <% end %>
        </div>
    <% end %>
    
    <%= form_for @article, :url => '/admin/mobile/video', :method => :post, :html => { :multipart => true } do |f| %>
        <div class="form-row">
            <div class="title">
                Video Type:
            </div>
            <%= select_tag :video_type, options_for_select(["vine", "youtube"], @video_type) %>
        </div>
        <div class="form-row">
            <div class="title">
                Video URL:
            </div>
            <%= text_field_tag :url, @url %>
        </div>
        <div class="form-row">
            <a class="submit">Publish now</a>
        </div>
    <% end %>
</div>